# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
.settings/

# OS
.DS_Store
Thumbs.db

# Environments
.env
.venv/
venv/
ENV/

# Test
htmlcov/
.coverage
.tox/

# Static/plots
static/plots/
